@import '../Variables';

.character-tile_button {
  margin-top: 4em;
  padding: .5em 1.5em;

  font-size: 16px;
  font-weight: 600;
  color: var(--clr-yellow);

  background-color: var(--clr-btn-bckg);
  border: 3px solid var(--clr-yellow);
  outline: none;

  transition: all .25s ease-in-out;

  &:hover{
    cursor: pointer;
    background-color: var(--clr-yellow);
    color: var(--clr-darkgray);
  }
}
