@import '../Variables';

.filter {

  .filter-input {
    position: relative;

    &__label {
      position: absolute;
      left: 0;
      top: 0;

      padding: calc(var(--size) * 1.2) calc(var(--size) * 2);
      margin: calc(var(--size) * 0.75 + 3px) calc(var(--size) * .5);

      background: black;
      white-space: nowrap;

      color: var(--clr-lightgray);
      font-weight: 500;
      line-height: 1.2;

      transition: transform 120ms ease-in;
      transform: translate(0, 0);
      transform-origin: 0 0;
    }
    &__field {
      box-sizing: border-box;
      display: block;
      padding: calc(var(--size) * 1.5) calc(var(--size) * 1.5);

      width: 100%;
      border: 4px solid var(--clr-darkgray);

      background: transparent;
      border-radius: var(--size-radius);

      font-size: 16px;
      font-family: 'Poppins', sans-serif !important;
      color: var(--clr-lightgray);

      &:focus,
      &:not(:placeholder-shown) {
        & + .filter-input__label {
          transform: translate(.25rem, -65%) scale(.8);
          color: var(--clr-yellow);
        }
      }

      &:focus{
        outline: none;
        border: 4px solid var(--clr-yellow);
      }
    }
  }
}
