@import '../Variables';

.character-tile {
  background-color: var(--clr-darkgray);

  color: var(--clr-lightgray);

  &:nth-child(n+2) {
    margin-top: 3em;
  }

  .character-tile_left {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2em;

    .character-tile_image {
      width: 150px;
      height: auto;
    }
  }

  .character-tile_right {
    position: relative;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    padding: 2em;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 3px solid var(--clr-yellow);
    }

    .character-tile_name {
      margin-bottom: 1.5em;

      color: var(--clr-yellow);
      font-family: 'Poppins', sans-serif;
      letter-spacing: .5px;

      &::before {
        margin-right: .75em;

        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: var(--clr-lightgray);
        letter-spacing: 0;
        opacity: .5;
      }
    }

    .character-tile_element {

      .character-tile_element--value {
        color: var(--clr-yellow);
      }
    }
  }

  @media screen and (min-width: $break-desktop){
    display: flex;
    flex-direction: row;

    .character-tile_right {
      flex: 1;

      &::before{
        width: auto;
        height: 100%;
        border-top: 0;
        border-left: 3px solid var(--clr-yellow);
      }
    }

    .character-tile_left {
      flex: 1;
    }
  }
}
